body{
    background-color:black;
}

#instrument{
    width:80%;
    margin:auto;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    background-color:rgba(220,220,220,0.3);
    height:100px;

}
.key{
    width:14%;
    margin:0.14%;
    height:100%;
    float:left;
    border:1px solid white;
    box-sizing: border-box;

}

#c{
    background-color: #4447BC;
    border-color:#9E1F62;
}
#c:hover{
    background-color:#5447BC;
}

#d{
    background-color:#71338E;
    border-color:#832C82;
}
#d:hover{
    background-color:#51338E;
}
#e{
    background-color:#DE7E47;
    border-color:#B05963;
}
#e:hover{
    background-color:#DE8E54;
}
#f{
    background-color: #E86B8F;
    border-color:  #DB52C2;
}
#f:hover{
    background-color:#E78B8F;
}
#a{
    background-color:#FFAB7A;
    border-color:#FF9C3D;
}
#a:hover{
    background-color:#FFAB1A;
}
#b{
    background-color:#D652AD;
    border-color: #FF636A;
}
#b:hover{
    background-color:#D451AD; 
}
#g{
    background-color: #7854E8;
    border-color:#527AF5;    

}
#g:hover{
    background-color:#5635EB;
}

